@model Hastane_Randevu_Sistemi.Models.Doktor

@{
    ViewData["Title"] = "Create";
    
}

<h1>Create</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoktorAd" class="control-label"></label>
                <input asp-for="DoktorAd" class="form-control" />
                <span asp-validation-for="DoktorAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoktorSoyad" class="control-label"></label>
                <input asp-for="DoktorSoyad" class="form-control" />
                <span asp-validation-for="DoktorSoyad" class="text-danger"></span>
            </div>
            <br />
            <div>
                <label> Hastaneler</label>
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" onchange="GetPoliklinikler(this.value)">
                    <option value="">Seçiniz</option>
                    @foreach (var item in ViewData["Hastaneler"] as List<Hastane>)
                    {
                        <option value="@item.HastaneID">@item.HastaneAdi</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PoliklinikId" class="control-label"></label>
                <select id="PoliklinikId" asp-for="PoliklinikId" class="form-select form-select-lg mb-3" aria-label="Large select example">
                    
                </select>
                <span asp-validation-for="PoliklinikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function GetPoliklinikler(hastaneId) {
            $.ajax({
                url: '@Url.Action("GetPoliklinikler", "Doktor")',
                data: { hastaneId: hastaneId },
                type: 'GET',
                success: function (poliklinikler) {
                    $("#PoliklinikId").empty(); // Önceki seçenekleri temizle
                    $("#PoliklinikId").append($('<option value="">Seçiniz</option>'));
                    $.each(poliklinikler, function (index, poliklinik) {
                        $("#PoliklinikId").append($('<option value="' + poliklinik.poliklinikID + '">' + poliklinik.poliklinikAdi + '</option>'));
                    });
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script>
}