@model Hastane_Randevu_Sistemi.Models.Doktor

@{
    ViewData["Title"] = "Delete";
}
<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoktorAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoktorAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoktorSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoktorSoyad)
        </dd>
        <dt class = "col-sm-2">
            <h5>Hastane</h5>
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index"><img style="width: 40px; length: 25px; margin: 10px;" src="~/images/geridon.png" /></a>
        <input type="hidden" asp-for="DoktorID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
