@model Hastane_Randevu_Sistemi.Models.Poliklinik

@{
    ViewData["Title"] = "Edit";
}
<h4>Poliklinik Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PoliklinikID" />
            <div class="form-group">
                <label asp-for="PoliklinikAdi" class="control-label"></label>
                <input asp-for="PoliklinikAdi" class="form-control" />
                <span asp-validation-for="PoliklinikAdi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                    <label asp-for="HastaneId" class="control-label"></label>

                    <select asp-for="HastaneId" class="form-select form-select-lg mb-3" aria-label="Large select example">
                        @foreach (var item in ViewData["hastaneler"] as List<Hastane>)
                        {
                            <option value="@item.HastaneID">@item.HastaneAdi</option>
                        }
                    </select>

                    <span asp-validation-for="HastaneId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index"><img style="width: 40px; length: 25px;" src="~/images/geridon.png" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
