@model Hastane_Randevu_Sistemi.Models.Randevu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RandevuID" />
            <div class="form-group">
                <label asp-for="DoktorId" class="control-label"></label>
                <select asp-for="DoktorId" class="form-control" asp-items="ViewBag.DoktorId"></select>
                <span asp-validation-for="DoktorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciId" class="control-label"></label>
                <select asp-for="KullaniciId" class="form-control" asp-items="ViewBag.KullaniciId"></select>
                <span asp-validation-for="KullaniciId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuGun" class="control-label"></label>
                <input asp-for="RandevuGun" class="form-control" />
                <span asp-validation-for="RandevuGun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuSaat" class="control-label"></label>
                <input asp-for="RandevuSaat" class="form-control" />
                <span asp-validation-for="RandevuSaat" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEmpty" /> @Html.DisplayNameFor(model => model.IsEmpty)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
