@model Hastane_Randevu_Sistemi.Models.Hastane
<link rel="stylesheet" href="~/css/index.css" />
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hastane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaneAdi)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.HastaneAdi)
        </dd>
        <dd class="col-sm-1"><a asp-action="Edit" asp-route-id="@Model.HastaneID"><img class="icon" src="~/images/düzenle.jpg" /></a></dd>
    </dl>
</div>
<div>
    <a asp-action="Index"><img style="width: 40px; length: 25px;" src="~/images/geridon.png" /></a> 
</div>
