@model Hastane_Randevu_Sistemi.Models.Hastane
@{
    ViewData["Title"] = "Edit";
    var hastane = ViewData["hastane"] as Hastane;
}
<h4>@_localization.Getkey("HastaneDuzen")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Hastane" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HastaneID" />
            <div class="form-group">
                <label>@_localization.Getkey("HastaneAdi")</label>
                <input asp-for="HastaneAdi" class="form-control" />
                <span asp-validation-for="HastaneAdi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="@_localization.Getkey("Kaydet")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index"><img style="width: 40px; length: 25px;" src="~/images/geridon.png" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
